/* HeroSearch private styles */

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 30%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#container {
  text-align: center;
  margin: 0;
  padding: 0px;
  height: 57px;
}

#title {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 5px;
}

#search-component {
  height: 40px;
}

#search-box {
  margin: 0;
  padding: 0;
  width: 179px;
  font-size: 16px;
  border: 3px solid #00b4cc;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

#search-results {
  padding: 0;
  top: 30%;
  left: 50%;
  display: table;
  margin: auto;
}

.resultItem {
  border: 1px solid black;
  width: 179px;
}
