/* HeroSearch private styles */

#container {
  text-align: center;
  margin: 0;
  padding: 0px;
  height: 57px;
  background-color: #6cd5eb;
  border: 1px solid gray;
}

#title {
  font-size: 20px;
  margin-top: 8px;
  margin-bottom: 1px;
}

#search-component {
  height: 40px;
}

#search-box {
  width: 370px;
  height: 20px;
}

#search-results {
  display: table;
  margin: auto;
}

.resultItem {
  border: 1px solid black;
  width: 370px;
}
