<div id="container">
  <div id="top-bar">
    <!-- Title -->
    <h2 id="title">Onondaga Dictionary</h2>
    <!-- Search bar -->
    <div><input id="search-box" /></div>
  </div>

  <div id="search-results">
    <div
      class="resultItem"
      *ngFor="let wordName of matchedWords"
      (click)="showDefinition(wordName)"
    >
      {{ wordName }}
    </div>
  </div>

  <!-- Word definition -->
  <div id="word-and-definition" *ngIf="searchedWordName != null">
    <div id="word-name-wrapper">
      <p id="word-name">{{ searchedWordName }}:</p>
    </div>

    <div id="word-definition-wrapper">
      <p id="word-definition">{{ searchedDefinition }}</p>
    </div>
  </div>
</div>
